pip install tensorflow-directml-plugin
conda install -c conda-forge cudatoolkit=11.2 cudnn=8.1.0

pip install wrapt
pip install matplotlib seaborn
pip install pysoundfile
pip install nbformat
pip install ipykernel
pip install ipynb
pip install pickleshare
pip install librosa
pip install AudioSegment


conda install wrapt
conda install matplotlib seaborn
conda install pysoundfile
conda install nbformat
conda install ipykernel
conda install ipynb
conda install pickleshare
conda install librosa
conda install AudioSegment
conda install shap
conda install tensorflow-gpu
