/Backup
/Tutorial/.vscode
/Tutorial/saved/*
!/Tutorial/saved/Modells
/Tutorial/restored_model
/Tutorial/data/*
!/Tutorial/data/*small_train_ds.zip
!/Tutorial/data/*small_test_ds.zip
!/Tutorial/data/*small_val_ds.zip
# /Tutorial/data/train_files
# /Tutorial/data/test_files
/Tutorial/Audiofiles
Audiofiles/
/.vscode
/Tutorial/venv
/Tutorial/venv.zip

# Ignoriere alle Dateien in "Tutorial/saved_models"
# Tutorial/saved_models/*

# Akzeptiere alle Dateien in saved_models (inklusive Unterordner), außer .zip-Dateien
!Tutorial/saved_models/**/*.*
Tutorial/saved_models/**/*.zip

# Erlaube alles in "good_Models", auch .zip-Dateien
!Tutorial/saved_models/good_Models/
!Tutorial/saved_models/good_Models/**